/******************************************
 */* SETUP
 */******************************************

/* Box Model Hack

*
  -moz-box-sizing: border-box
  /* Firexfox
  -webkit-box-sizing: border-box
  /* Safari/Chrome/iOS/Android
  box-sizing: border-box
  /* IE

/* Clear fix hack

.clearfix:after
  content: "."
  display: block
  clear: both
  visibility: hidden
  line-height: 0
  height: 0

.clear
  clear: both

.alignright
  float: right
  padding: 0 0 10px 10px
  /* note the padding around a right floated image

.alignleft
  float: left
  padding: 0 10px 10px 0
  /* note the padding around a left floated image

/******************************************
 */* BASE STYLES
 */******************************************

body
  color: #000
  font-size: 12px
  line-height: 1.4
  font-family: Helvetica, Arial, sans-serif

/******************************************
 */* LAYOUT
 */******************************************

#container
  width: 960px
  margin: auto

.calculator
  width: 400px
  margin: 10px 0 0 10px
  background: #8C898B

h1
  text-align: right
  font-weight: 100
  color: white
  font-size: 100px
  line-height: 100px
  padding-right: 5px
  margin: 0 0 0 10px
  width: 390px
  height: 120px
  background: #8C898B

button
  width: 100px
  height: 80px
  float: left
  border: solid 1px #8C898B
  text-align: center
  font-size: 40px
  font-weight: 200
  padding: 3%
  background: #E0E0E0

.zero
  width: 200px

.greyBox
  background: #D6D6D6

.orangeBox
  background: #F39248
  color: white
